<div class="container">
    <div class="row">
        <div class="col s12 m10 offset-m3">
            Add New Comic
        </div>
    </div>
    {{!-- important, errors is not flash error --}}
    {{#if errors}}
    <div class="row">
        <div class="col s8 offset-s2 m6 offset-m2 error-msg">
            {{#each errors}}
            <p>* {{this.msg}}</p>
            {{/each}}
        </div>
    </div>
    {{/if}}
    {{!-- IMPORTANT: for form enctype="multipart/form-data" put csrf in form action:  /?_csrf=...  --}}
    <form action="/comics/add/?_csrf={{csrfToken}}" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s12 m6">
                <input id="title" name="title" type="text" class="validate" {{#if title}} value=" {{title}}" {{/if}}>
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12">Description</div>
        </div>
        <div class="row">
            <div class="col s12 m10">
                <textarea id="description" name="description">{{#if description}} {{description}} {{/if}}</textarea>
            </div>
        </div>

        <div class="row">
            <div class="file-field input-field col s12 m6">
                <div class="btn">
                    <span>File</span>
                    <input type="file" name="imagePath">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 m4">
                <select name="category">

                    {{!-- if category value was set and reused, use select helper from  app.js --}}
                    {{#if category}}
                    {{#select category}}
                    {{#each categories}}
                    <option value="{{categoryName}}">{{categoryName}}</option>
                    {{/each}}
                    {{/select}}
                    {{/if}}

                    {{#unless category}}
                    <option disabled selected>Category</option>
                    {{#each categories}}
                    <option value="{{categoryName}}">{{categoryName}}</option>
                    {{/each}}
                    {{/unless}}

                </select>
                <label>Materialize Select</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 m4">
                <select name="line">

                    {{!-- if line value was set and reused, use select helper from  app.js --}}
                    {{#if line}}
                    {{#select line}}
                    {{#each lines}}
                    <option value="{{lineName}}">{{lineName}}</option>
                    {{/each}}
                    {{/select}}
                    {{/if}}

                    {{#unless line}}
                    <option disabled selected>Line</option>
                    {{#each lines}}
                    <option value="{{lineName}}">{{lineName}}</option>
                    {{/each}}
                    {{/unless}}

                </select>
                <label>Materialize Select</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 m6">
                <input id="price" name="price" type="text" class="validate" {{#if price}} value="{{price}}" {{/if}}>
                <label for="price">Price</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field right-align col s12 m10">
                <button class="btn waves-effect waves-light btn-small" type="submit">Submit</button>
            </div>
        </div>

    </form>
</div>